<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

    <%- include('layouts/nav'); -%>

    <main>

        <form method="POST" action="/update/user">

            <h1><%= user.email %></h1>

            <input type="text" name="name" placeholder="Full Name" value="<%= user.name %>">

            <input type="email" name="email" placeholder="Email" value="<%= user.email %>">

            <input type="text" name="country" placeholder="Country" value="<%= user.country %>">

            <input type="number" name="contact" placeholder="Contact" value="<%= user.contact %>">

            <button type="submit">Update</button>

        </form>

    </main>

    <%- include('layouts/scripts'); -%>

</body>

</html>
